/*
	Layout
		Mobile: 375px
		Desktop: 1440px

	Colors

	Neutral
		Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
		Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
		Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
		Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
		Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
		White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

	Typography

	Body Copy
		Homepage Items: 14px
		Detail Page: 16px

	Fonts
		Family: Nunito Sans
		Weights: 300, 600, 800
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
	/* colors */
	--text-color: hsl(200, 15%, 8%);
	--input-color: hsl(0, 0%, 52%);
	--elements-color: hsl(0, 0%, 100%);
	--background-color: hsl(0, 0%, 98%);

	/* typography */
	--homepage-font-size: 0.875rem;
	--details-page-font-size: 1rem;

	--font-family: 'Nunito Sans', sans-serif;
	--font-weight-light: 300;
	--font-weight-semibold: 600;
	--font-weight-bold: 800;

	.darkmode {
		--text-color: hsl(0, 0%, 100%);
		--input-color: hsl(0, 0%, 100%);
		--elements-color: hsl(209, 23%, 22%);
		--background-color: hsl(207, 26%, 17%);
	}
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: var(--font-family);
}

.app {
	min-height: 100vh;
	width: 100%;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	position: relative;
}

header {
	position: fixed;
	height: 5rem;
	width: 100%;
	background-color: var(--elements-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.03);
	z-index: 3;

	.title {
		font-weight: var(--font-weight-bold);
		font-size: 1rem;
		color: var(--text-color);
	}

	span.dark-mode {
		font-size: var(--homepage-font-size);
		font-weight: var(--font-weight-semibold);
		color: var(--text-color);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.625rem;
		cursor: pointer;

		ion-icon {
			font-size: 1.2rem;
			color: var(--text-color);
			cursor: pointer;
		}
	}
}

main {
	margin-top: 8rem;
	padding: 0 clamp(1rem, 5vw, 5rem);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2.4rem;

	.country-card--container {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 2.5rem;
		align-items: center;
		padding: 0 2.5rem 4rem;
	}

	button {
		ion-icon {
		}
	}

	.country-details {
		&--flag {
		}

		&--data {
			h2 {
			}

			&__left {
				p {
					span {
					}
				}
			}

			&__right {
				p {
					span {
					}
				}
			}

			&__bottom {
				p {
					button.neighbour-btn {
					}
				}
			}
		}
	}
}

@media screen and (min-width: 760px) {
	main {
		padding: 0 5rem;

		.country-card--container {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			column-gap: 2.5rem;
			padding: 0;
		}
	}
}

